/* Body background and text color */
body {
	background: #f4f4f4;
	color: #5b5b5b;
}

/* General link color */
a,
a:visited {
	color: #333;
}

a:hover {
	color: #000;
}

/* Buttons color */
.button,
.button:visited {
	background-color: #333;
	color: #fff;
}

.button:hover {
	background-color: #000;
	color: #fff;
}

/* Site top bar */
.top-bar {
	background: #333;
}

.site-description {
	color: #eee;
}

.social-links a {
	color: #eee;
}

.social-links a:hover {
	color: #4b4b4b;
}

/* Site cover */
.site-cover {
	background-color: #4b4b4b;
}

.site-cover a {
	color: #fff;
}

/* Post styling */
.post {
	background: #fff;
}

.post-time {
	color: #888;
}

/* Post icons */
.post-time i,
.post-tags i,
.post-author i {
	color: #666;
}

.post-meta {
	color: #888;
	border-top: 1px solid #ddd;
}

.post-author {
	color: #333;
}

.author-info {
	background: #4b4b4b;
	color: #fff;
}

.author-info i {
	color: #fff;
}

/* Pagination text color */
.pagination {
	color: #888;
}

/* Footer text and border color */
.site-footer {
	border-top: 1px solid #ddd;
	color: #888;
}
